Repository dhruvdcoder/structured_prediction_baselines, pull requests merged in 2021-08, with the labels that each got.

#29 sweep and model configs for dvn, nce reverse order
  model_configs/multilabel_classification/v2.5/bibtex_strat_dvn_tasknn_samples_reverse.jsonnet
  sweep_configs/multilabel_classification/v2.5/bibtex_strat_nce_cont_minus_tasknn_reverse.yaml
  sweep_configs/multilabel_classification/v2.5/bibtex_strat_nce_cont_plus_tasknn_reverse.yaml
  sweep_configs/multilabel_classification/v2.5/bibtex_strat_nce_discrete_minus_tasknn_reverse.yaml
  sweep_configs/multilabel_classification/v2.5/bibtex_strat_nce_discrete_plus_tasknn_reverse.yaml
Labels: configs, enhancement

#34 Add new labels and update changelog generator
  .github/labels.yml
  .github/workflows/changelog.yml
  CHANGELOG.md
Labels: ci

#31 Added 'multi-label-score-loss' and changes in relevant configs (bibtex_strat_nce)
  CHANGELOG.md
  model_configs/multilabel_classification/v2.5/bibtex_nce_cont_tasknn_reverse.jsonnet
  model_configs/multilabel_classification/v2.5/bibtex_nce_discrete_tasknn_reverse.jsonnet
  model_configs/multilabel_classification/v2.5/bibtex_strat_nce_cont_tasknn_reverse.jsonnet
  model_configs/multilabel_classification/v2.5/bibtex_strat_nce_discrete_tasknn_reverse.jsonnet
  structured_prediction_baselines/modules/loss/multilabel_classification/dvn_score_loss.py
  sweep_configs/multilabel_classification/v2.5/bibtex_strat_nce_cont_minus_tasknn_reverse.yaml
  sweep_configs/multilabel_classification/v2.5/bibtex_strat_nce_cont_plus_tasknn_reverse.yaml
  sweep_configs/multilabel_classification/v2.5/bibtex_strat_nce_discrete_minus_tasknn_reverse.yaml
  sweep_configs/multilabel_classification/v2.5/bibtex_strat_nce_discrete_plus_tasknn_reverse.yaml
Labels: configs, enhancement

#19 Added 6 more feature based datasets and blurb and nyt
  CHANGELOG.md
  core_requirements.txt
  download_datasets.sh
  model_configs/multilabel_classification/datasets.jsonnet
  structured_prediction_baselines/dataset_readers/multilabel_classification/blurb_genre_collection.py
  structured_prediction_baselines/dataset_readers/multilabel_classification/nyt_reader.py
Labels: configs, datasets

#33 Original inference_net setup as in Tu & Gimpel
  CHANGELOG.md
  model_configs/multilabel_classification/v2.5/bibtex_strat_margin_l1_tasknn_reverse.jsonnet
  structured_prediction_baselines/modules/loss/inference_net_loss.py
  structured_prediction_baselines/modules/loss/multilabel_classification/inference_net_loss.py
  sweep_configs/multilabel_classification/v2.5/bibtex_strat_margin_l1_tasknn_reverse.yaml
  tests/end2end/configs/bibtex_strat_margin_l1_tasknn_reverse.json
Labels: configs, enhancement

#36 Original infnet remaining configs
  model_configs/multilabel_classification/v2.5/bibtex_strat_margin_l1_tasknn.jsonnet
  model_configs/multilabel_classification/v2.5/bibtex_strat_tasknn.jsonnet
  sweep_configs/multilabel_classification/v2.5/bibtex_strat_margin_l1_tasknn.yaml
  sweep_configs/multilabel_classification/v2.5/bibtex_strat_tasknn.yaml
Labels: configs

#39 Feat/general data configs
  model_configs/multilabel_classification/v2.5/gendata_margin_l1_tasknn.jsonnet
  model_configs/multilabel_classification/v2.5/gendata_tasknn.jsonnet
  sweep_configs/multilabel_classification/v2.5/gendata_margin_l1_tasknn.yaml
  sweep_configs/multilabel_classification/v2.5/gendata_tasknn.yaml
Labels: configs

#27 Add new dependency version info in README
  README.md
Labels: documentation

#44 Added expr and spo, go and fun datasets.
  download_datasets.sh
  model_configs/multilabel_classification/datasets.jsonnet
Labels: datasets
