Repository dhruvdcoder/structured_prediction_baselines, pull requests merged in 2021-09, with the labels that each got.

#47 Making GBI work again.
  model_configs/multilabel_classification/v2.5/gendata_dvn.jsonnet
  structured_prediction_baselines/modules/sampler/gradient_based_inference.py
  structured_prediction_baselines/modules/sampler/ground_truth_sampler.py
  structured_prediction_baselines/modules/sampler/sampler.py
  structured_prediction_baselines/training/trainer/gradient_descent_minimax_trainer.py
  sweep_configs/multilabel_classification/v2.5/bibtex_strat/bibtex_strat_dvn.yaml
  sweep_configs/multilabel_classification/v2.5/cal500/cal500_dvn.yaml
  sweep_configs/multilabel_classification/v2.5/delicious/delicious_dvn.yaml
  sweep_configs/multilabel_classification/v2.5/eurlex/eurlex_dvn.yaml
  sweep_configs/multilabel_classification/v2.5/expr_fun/expr_fun_dvn.yaml
  sweep_configs/multilabel_classification/v2.5/expr_go/expr_go_dvn.yaml
  sweep_configs/multilabel_classification/v2.5/genbase/genbase_dvn.yaml
  sweep_configs/multilabel_classification/v2.5/spo_fun/spo_fun_dvn.yaml
  sweep_configs/multilabel_classification/v2.5/spo_go/spo_go_dvn.yaml
  tests/end2end/configs/bibtex_dvn.json
Labels: bug

#52 Feat/from pretrained dvn
  model_configs/multilabel_classification/v2.5/gendata_dvn_tasknn_pretrained_scorenn.jsonnet
  sweep_configs/multilabel_classification/v2.5/bibtex_strat/bibtex_strat_dvn_tasknn_fixed_pretrained_scorenn.yaml
  sweep_configs/multilabel_classification/v2.5/bibtex_strat/bibtex_strat_dvn_tasknn_pretrained_scorenn.yaml
  sweep_configs/multilabel_classification/v2.5/cal500/cal500_dvn_tasknn_fixed_pretrained_scorenn.yaml
  sweep_configs/multilabel_classification/v2.5/cal500/cal500_dvn_tasknn_pretrained_scorenn.yaml
  sweep_configs/multilabel_classification/v2.5/delicious/delicious_dvn_tasknn_fixed_pretrained_scorenn.yaml
  sweep_configs/multilabel_classification/v2.5/delicious/delicious_dvn_tasknn_pretrained_scorenn.yaml
  sweep_configs/multilabel_classification/v2.5/eurlex/eurlex_dvn_tasknn_fixed_pretrained_scorenn.yaml
  sweep_configs/multilabel_classification/v2.5/eurlex/eurlex_dvn_tasknn_pretrained_scorenn.yaml
  sweep_configs/multilabel_classification/v2.5/expr_fun/expr_fun_dvn_tasknn_fixed_pretrained_scorenn.yaml
  sweep_configs/multilabel_classification/v2.5/expr_fun/expr_fun_dvn_tasknn_pretrained_scorenn.yaml
  sweep_configs/multilabel_classification/v2.5/genbase/genbase_dvn_tasknn_fixed_pretrained_scorenn.yaml
  sweep_configs/multilabel_classification/v2.5/genbase/genbase_dvn_tasknn_pretrained_scorenn.yaml
  sweep_configs/multilabel_classification/v2.5/spo_fun/spo_fun_dvn_tasknn_fixed_pretrained_scorenn.yaml
  sweep_configs/multilabel_classification/v2.5/spo_fun/spo_fun_dvn_tasknn_pretrained_scorenn.yaml
Labels: configs

#54 Tracking notebooks using jupytext
  analysis/Visulatizations.py
  core_requirements.txt
  jupytext.toml
  notebooks/.gitkeep
Labels: dependencies

#53 No cross entropy configs for DVN+tasknn
  sweep_configs/multilabel_classification/v2.5/bibtex/bibtex_dvn_tasknn_sampled_no_xtropy.yaml
  sweep_configs/multilabel_classification/v2.5/bibtex_strat/bibtex_strat_dvn_tasknn_pretrained_scorenn_no_xtropy.yaml
  sweep_configs/multilabel_classification/v2.5/bibtex_strat/bibtex_strat_dvn_tasknn_sampled_no_xtropy.yaml
  sweep_configs/multilabel_classification/v2.5/cal500/cal500_dvn_tasknn_pretrained_scorenn_no_xtropy.yaml
  sweep_configs/multilabel_classification/v2.5/cal500/cal500_dvn_tasknn_sampled_no_xtropy.yaml
  sweep_configs/multilabel_classification/v2.5/expr_fun/expr_fun_dvn_tasknn_pretrained_scorenn_no_xtropy.yaml
  sweep_configs/multilabel_classification/v2.5/expr_fun/expr_fun_dvn_tasknn_sampled_no_xtropy.yaml
  sweep_configs/multilabel_classification/v2.5/genbase/genbase_dvn_tasknn_pretrained_scorenn_no_xtropy.yaml
  sweep_configs/multilabel_classification/v2.5/genbase/genbase_dvn_tasknn_sampled_no_xtropy.yaml
  sweep_configs/multilabel_classification/v2.5/spo_fun/spo_fun_dvn_tasknn_pretrained_scorenn_no_xtropy.yaml
  sweep_configs/multilabel_classification/v2.5/spo_fun/spo_fun_dvn_tasknn_sampled_no_xtropy.yaml
Labels: configs

#48 Made changes for applying ranking loss directly to the TaskNN
  data/.gitkeep
  model_configs/multilabel_classification/v2.5/eurlex_ranking_discrete_on_scorenn_tasknn_reverse.jsonnet
  model_configs/multilabel_classification/v2.5/gendata_ranking_discrete_on_scorenn_tasknn_reverse.jsonnet
  model_configs/multilabel_classification/v2.5/gendata_ranking_discrete_on_tasknn.jsonnet
  scripts/wandb_run_NCE_infnet.sh
  structured_prediction_baselines/modules/loss/multilabel_classification/nce_mlc_loss.py
  structured_prediction_baselines/modules/loss/nce_loss.py
  sweep_configs/multilabel_classification/v2.5/bibtex_strat/bibtex_strat_ranking_discrete_on_scorenn_tasknn_reverse.yaml
  sweep_configs/multilabel_classification/v2.5/cal500/cal500_ranking_discrete_on_scorenn_tasknn_reverse.yaml
  sweep_configs/multilabel_classification/v2.5/cal500/cal500_ranking_discrete_on_tasknn.yaml
  sweep_configs/multilabel_classification/v2.5/cal500/cal500_ranking_discrete_on_tasknn_grid.yaml
  sweep_configs/multilabel_classification/v2.5/cal500/cal500_ranking_discrete_on_tasknn_grid_0.yaml
  sweep_configs/multilabel_classification/v2.5/delicious/delicious_ranking_discrete_on_tasknn_bayes.yaml
  sweep_configs/multilabel_classification/v2.5/delicious/delicious_ranking_discrete_on_tasknn_grid.yaml
  sweep_configs/multilabel_classification/v2.5/delicious/delicious_ranking_discrete_on_tasknn_grid_0.yaml
  sweep_configs/multilabel_classification/v2.5/expr_fun/expr_fun_ranking_discrete_on_scorenn_tasknn_reverse.yaml
  sweep_configs/multilabel_classification/v2.5/genbase/genbase_ranking_discrete_on_scorenn_tasknn_reverse.yaml
  sweep_configs/multilabel_classification/v2.5/genbase/genbase_ranking_discrete_on_tasknn.yaml
  sweep_configs/multilabel_classification/v2.5/genbase/genbase_ranking_discrete_on_tasknn_grid.yaml
  sweep_configs/multilabel_classification/v2.5/genbase/genbase_ranking_discrete_on_tasknn_grid_0.yaml
  sweep_configs/multilabel_classification/v2.5/gendata_nce_cont_on_tasknn_reverse.yaml
  sweep_configs/multilabel_classification/v2.5/spo_fun/spo_fun_ranking_discrete_on_scorenn_tasknn_reverse.yaml
Labels: enhancement, configs
